.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
}

.header__menu {
  display: flex;
  margin-bottom: 5px;
}

.header__links-list {
  display: flex;
  list-style: circle;
  font-size: 18px;
  font-weight: 400;
  gap: 32px;
}

.header__links-list-item {
  line-height: 100%;
}

.header__link_active {
  list-style: none;
  line-height: 100%;
}

.header__menu-link {
  text-underline-offset: 4px;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.header__address {
  text-underline-offset: 4px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  justify-self: end;
  max-width: 240px;
  line-height: 24.3px;
  width: 100%;
  /* margin-right: 35px; */
  /* margin-bottom: 5px; */
}

/* section */

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 757px;
  position: relative;
  z-index: -1;
  padding: 165px 50px 0;
}

.overlay {
  background-color: rgb(0 0 0/0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cover__title {
  width: 100%;
  font-size: 100px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.accent-span {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.description {
  margin-top: 106px;
}

.lots {
  margin: 180px 24px 53px 24px;
}

/* Footer */
